Assets/Player/Player2.psd filter=lfs diff=lfs merge=lfs -text
Builds/Build23071702.aab filter=lfs diff=lfs merge=lfs -text
Builds/GM23081702.apk filter=lfs diff=lfs merge=lfs -text
Builds/Greedmonster23081802.aab filter=lfs diff=lfs merge=lfs -text
Builds/GreedMonster23081802.apk filter=lfs diff=lfs merge=lfs -text
Builds/Greedmonster23081803.aab filter=lfs diff=lfs merge=lfs -text
Builds/Greedmonster23081804.aab filter=lfs diff=lfs merge=lfs -text
Builds/GreedMonster281703.apk filter=lfs diff=lfs merge=lfs -text
Builds/GreedMonsterBuild24091801.aab filter=lfs diff=lfs merge=lfs -text
Builds/GreedMonsterBuild24091802.aab filter=lfs diff=lfs merge=lfs -text
Builds/GreedMonsterBuild23090801/GreedMonsterBuild23090801.aab filter=lfs diff=lfs merge=lfs -text
Builds/GreedMonsterBuild23090801/GreedMonsterBuild23091201.aab filter=lfs diff=lfs merge=lfs -text
MemoryCaptures/GreedMonsterGrow_2023-06-30_09-39-36.snap filter=lfs diff=lfs merge=lfs -text
MemoryCaptures/GreedMonsterGrow_2023-06-30_10-15-13.snap filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
MemoryCaptures/* filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.snap filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB/* filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
